/*@import url('//cdnjs.cloudflare.com/ajax/libs/summernote/0.5.1/summernote.css');*/

.btn:focus {
    outline: none;
}

/*html {*/
/*overflow-y: scroll;*/
/*}*/

/*.modal { position: absolute; }*/

.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
    padding-right: 17px;
}

#parent {
    /*width: auto;*/
    /*height: auto;*/
    /*background-color: #aaa;*/
    margin: auto auto;
    overflow: hidden;
}

#child {
    /*width: auto;*/
    /*height: auto;*/
    /*background-color: #999;*/
    margin: auto auto;
    text-align: justify;
    position: relative;
    top: 0;
    -webkit-transition: all 0.5s ease-out;
}

.modal-dialog {
    margin-top: 15%;
}

.tooltip-inner {
    white-space:nowrap;
    max-width:none;
}

.cropit-image-preview {
    background-color: #f8f8f8;
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 3px;
    /*margin-top: 7px;*/
    width: 300px;
    height: 300px;
    cursor: move;
}

input.image-editor {
    /* Use relative position to prevent from being covered by image background */
    position: relative;
    z-index: 10;
    display: block;
}

.export {
    margin-top: 10px;
}

#leftcolumn, #rightcolumn {
    float: left;
    color: white;
}
#leftcolumn {
    width: auto;
}

#rightcolumn {
    padding: 10px;
    margin-left: 20px;
    width: 250px;
    background: #bcbcbc;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}