body {
    background: #FFFFFF url(../images/background3.jpg) no-repeat fixed;
    color: #333333;
    font-family: 'Lucida Grande', sans-serif;
    font-size: 0.75em;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    overflow-y: scroll;
}

#container {
    margin: 0 auto;
    padding: 15px 0;
    text-align: left;
    width: 900px;
}

#top {
    /*float: left;*/
    width: auto;
    height: 50px;
}

#content {
    border: 1px solid #996633;
    float: left;
    width: 900px;
    margin-top: 10px;
    padding: 10px;
    background: rgba(255, 165, 0, 0.9);
}

#content .logo {
    /*padding: 11px;*/
}

#footer {
    background: #99ccff none repeat scroll 0;
    border: 1px solid #996633;
    float: right;
    line-height: 1.2;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 12px;
    width: 900px;
}

th label {
    font-size: 0.75em;
    font-weight: normal;
}

td label {
    font-size: 0.75em;
    font-weight: normal;
}

table.horizontalRuled td {
    border-bottom: 1px solid #BBBBBB;
}

/*table.spittleTable {*/
/*font-size: 1.2em;*/
/*line-height: 1.1em;*/
/*padding: 0.7em 0 0.6em;*/
/*position: relative;*/
/*width: 100%;*/
/*}*/

/*table.spittleTable td.message {*/
/*border-bottom: 1px solid #996633;*/
/*}*/

fieldset {
    margin: 10px 0pt;
}

/*fieldset input[type="text"], input[type="password"], select, checkbox {*/
    /*border: 1px solid #AAAAAA;*/
    /*margin-right: 3px;*/
    /*/!*padding: 4px 2px;*!/*/
/*}*/

/*fieldset input[type="text"], input[type="password"] {*/
    /*width: 12em;*/
/*}*/

fieldset small {
    color: #777777;
    font-size: 0.7em;
}

fieldset th {
    font-weight: normal;
    padding-top: 10px;
    text-align: right;
    width: 8em;
}

fieldset th,
td {
    padding: 7px 3px;
    vertical-align: top;
}

a img, form, fieldset {
    border: 0pt none;
}

#side .signin #email, #side .signin #pass {
    background: #FFFFFF none repeat scroll 0%;
    border: 1px solid #86BC46;
    display: block;
    font-size: 0.92em;
    padding: 4px 2px;
    width: 158px;
}

#side .notify {
    line-height: 1.5;
    padding: 5px 0pt;
    text-align: center;
}

#side .notify {
    background: #FFFFFF none repeat scroll 0%;
    border: 1px solid #87BC44;
    font-weight: bold;
    margin: 10px -3px;
    padding: 2px 5px;
}

#content h2 {
    margin: 13px 0pt 4px;
}

h2 {
    font-weight: normal;
    line-height: 1.2em;
}

* {
    padding: 0;
}

#spittle textarea {
    width: 550px;
    font-family: 'Lucida Grande', sans-serif;
    font-size: 1.15em;
}

.status-btn {
    padding: 0 10px;
    cursor: default;
    font-size: 12pt;
}

label {
    font-size: 15px;
}

label.rememberMe {
    font-size: 13px;
    /*margin-right: 20px;*/
}

ol.spittle-list {
    font-size: 1.0em;
    list-style: none outside none;
}

ol.spittle-list li:first-child {
    border-top: 1px solid #996633;
}

ol.spittle-list li {
    font-size: 1.2em;
    border-bottom: 1px solid #996633;
    line-height: 1.1em;
    padding: 0 0 0.6em;
    position: relative;
}

.submit {
    /*background: transparent;*/
    /*border-top: 0px;*/
    /*border-left: 0px;*/
    /*border-right: 0px;*/
    /*border-bottom: 1px solid #00F;*/
    /*color: #00F;*/
    /*display: inline;*/
    /*margin: 0;*/
    /*padding: 0;*/
    text-align: right;
}

*:first-child + html .submit {
    border-bottom: 0;
    text-decoration: underline;
}

* html .submit {
    border-bottom: 0;
    text-decoration: underline;
}

.spittleListImage {
    display: block;
    position: absolute;
    width: 50px;
}

.spittleListText {
    display: block;
    width: 500px;
    margin-left: 56px;
    min-height: 50px;
}

.postListText {
    width: auto;
    /*margin-right: 10px;*/
    /*padding-right: 10px;*/
    word-wrap: break-word;
    font-size: 15px;
    line-height: 1.3;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

span.error {
    color: red;
    font-size: 8pt;
}

.content-holder:after {
    content: '';
    display: block;
    clear: both;
}

.formHolder {
    overflow: hidden;
}

.formHolder form {
    float: right;
    margin: 0 10px 0 0
}

small.date {
    font-family: Monospace, serif;
}

.title-hyperlink {
    font-size: 18px;
    line-height: 1.35;
    font-weight: normal;
    margin-bottom: .5em;
    text-decoration: none;
}

.title-hyperlink {
    color: #222;
}

.text-width {
    max-width: 100%;
    width: 100%;
    height: 35%;
}

.margin-top {
    margin-top: 10px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.hasLayout {
    zoom: 1;
}

.author {
    padding-top: 5px;
    font-family: Tahoma, serif;
}

.padding-top {
    padding-top: 5px;
}

.right-button {
    text-align: right;
}

.post {
    /*margin-bottom: 10px;*/
    padding: 10px 10px;
    overflow: hidden;
    /*background: #f5f5f5;*/
}

.comment {
    color: #000;
    margin-top: 10px;
    padding: 12px 20px;
    overflow: hidden;
    background: rgb(216, 216, 216);
    border-width: thick;
}

::selection {
    color: #ffffff;
    background: #15bb49;
}