<ol>
    <li type="none" class="comment" ng-repeat="comment in comments.comments">
        <div id="{{comment.rid}}" ng-bind-html="makeTrust(comment.text)"></div>

        <div class="comment_bottom">
                <span>
                    <b><a ui-sref="public_profile({username:'{{comment.author}}'})">{{comment.author}}</a></b> &nbsp;&nbsp; {{comment.when | date:'short'}}
                </span>

            <div style="float: right">
                <div ng-show="canManage(comment.author)">
                    <button class="btn btn-xs btn-default" ng-click="editComment(comment.rid)">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
                    </button>
                    <button class="btn btn-xs btn-danger" ng-click="deleteComment($index)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
                <div ng-show="canEdit(comment.rid)">
                    <button class="btn btn-xs btn-success" ng-click="updateComment(comment.rid)">
                        <span class="glyphicon glyphicon-ok-sign"></span>
                        Save
                    </button>
                    <button class="btn btn-xs btn-default" ng-click="cancelComment(comment.rid)">
                        <span class="glyphicon glyphicon-remove-sign"></span>
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </li>
</ol>
<div class="text-center" style="margin-top: 30px">
    <uib-pagination total-items="totalPosts.postCount" items-per-page="postsPerPage" ng-model="currentPage" max-size="maxSize" class="pagination-sm"
                    boundary-links="true" rotate="false" num-pages="numPages" ng-change="setPage(currentPage)"></uib-pagination>
</div>