<div ng-controller="NewPostCtrl">
    <div class="post_body" ng-show="isLoggedIn()">
        <div class="row">
            <div class="col-md-5">
                <input type="text" class="form-control" ng-model="post.title" maxlength="60"
                       placeholder="Title here ..."/>
            </div>
        </div>
        <div>
            <label id="tagNames">Tags</label>
            <tags-input class="bootstrap" ng-model="tags">
                <!--<auto-complete source="loadTags($query)"></auto-complete>-->
            </tags-input>
        </div>
        <br>
        <summernote config="options" ng-model="post.text"></summernote>
        <div style="text-align: right">
            <button class="btn btn-default" ng-click="createPost()">Create Post</button>
        </div>
    </div>
</div>