<div ng-controller="PostCtrl">
    <div class="post_list">
        <div class="post_title">
            <h3>
                <a class="label label-default" href="#/post/{{post.rid}}">{{post.title}}</a>

                <div style="float: right">
                    <button class="btn btn-xs btn-default">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
                    </button>
                    <button class="btn btn-xs btn-danger" ng-click="deletePost()">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </h3>
        </div>

        <div class="post_text" ng-bind-html="makeTrust(post.text)"></div>

        <div class="post_bottom">
                <span class="post_date">
                    Posted by {{post.author}} on {{post.when | date:'MMM d, y H:mm:ss'}}
                </span>
        </div>
    </div>

    <br/>
    <br/>
    <ol>
        <li type="none" class="comment" ng-repeat="comment in post.comments">
            <div ng-bind-html="makeTrust(comment.text)"></div>

            <div class="comment_bottom">
                <span>
                    <b>{{post.author}}</b> &nbsp;&nbsp; {{post.when | date:'short'}}
                </span>
            </div>
        </li>
    </ol>

    <div ng-controller="CommentCreateCtrl">
        <div class="comment" ng-show="isLoggedIn()">
            <summernote height="250" ng-model="text"></summernote>
            <div style="text-align: right">
                <button class="btn btn-default" ng-click="click()">Post message</button>
            </div>
        </div>
    </div>
    <br/>
</div>