<div ng-controller="PostCtrl">
    <div class="post_list">
        <div class="post_title">
            <h3>
                <a class="label label-default" href="#/post/{{post.rid}}">{{post.title}}</a>

                <div style="float: right">
                    <div ng-show="canManage()">
                        <button class="btn btn-xs btn-default" ng-click="editPost()">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
                        </button>
                        <button class="btn btn-xs btn-danger" ng-click="deletePost()">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                    <div ng-show="canEdit()">
                        <button class="btn btn-xs btn-success" ng-click="updatePost()">
                            <span class="glyphicon glyphicon-ok-sign"></span>
                            Save
                        </button>
                        <button class="btn btn-xs btn-default" ng-click="cancelPost()">
                            <span class="glyphicon glyphicon-remove-sign"></span>
                            Cancel
                        </button>
                    </div>
                </div>
            </h3>
            <div class="post_tags">
                 <span ng-repeat="tagName in post.tagNames">
                &nbsp;&nbsp;
                <a ui-sref="tag({name:'{{tagName}}', page:'1'})" class="tag label label-default">{{tagName.text}} </a>
                 </span>
            </div>
        </div>
        <div class="post_body">
            <div class="form-group col-md-5">
                <input type="text" class="form-control" ng-model="post.title" ng-show="canEdit()" maxlength="60"
                       placeholder="Title here ..."/>
            </div>
            <div class="form-group col-md-12">
                <tags-input class="bootstrap" ng-model="post.tagNames" ng-show="canEdit()"></tags-input>
            </div>
            <br>
        </div>

        <div id="post_text" ng-bind-html="makeTrust(post.text)"></div>


        <div class="post_bottom">
                <span class="post_date">
                    Posted by <a ui-sref="public_profile({username:'{{post.author}}'})">{{post.author}}</a> on {{post.when | date:'MMM d, y H:mm:ss'}}
                </span>
        </div>
    </div>
    <br>

    <div ng-controller="CommentCtrl">
        <ol>
            <li type="none" class="comment" ng-repeat="comment in comments.comments">
                <div id="{{comment.rid}}" ng-bind-html="makeTrust(comment.text)"></div>

                <div class="comment_bottom">
                <span>
                    <b><a ui-sref="public_profile({username:'{{comment.author}}'})">{{comment.author}}</a></b> &nbsp;&nbsp; {{comment.when | date:'short'}}
                </span>

                    <div style="float: right">
                        <div ng-show="canManage(comment.author)">
                            <button class="btn btn-xs btn-default" ng-click="editComment(comment.rid)">
                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
                            </button>
                            <button class="btn btn-xs btn-danger" ng-click="deleteComment($index)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                        <div ng-show="canEdit(comment.rid)">
                            <button class="btn btn-xs btn-success" ng-click="updateComment(comment.rid)">
                                <span class="glyphicon glyphicon-ok-sign"></span>
                                Save
                            </button>
                            <button class="btn btn-xs btn-default" ng-click="cancelComment(comment.rid)">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </li>
        </ol>

        <div ng-controller="CommentCreateCtrl">
            <div class="comment" ng-show="isLoggedIn()">
                <summernote height="250" ng-model="comment"></summernote>
                <div style="text-align: right">
                    <button class="btn btn-default" ng-click="createComment()">Post comment</button>
                </div>
            </div>
        </div>
        <br/>
    </div>
</div>