<div ng-controller="PageCtrl">
    <ul type="none">
        <li class="post_list" ng-repeat="post in posts.posts">

            <div class="post_title">
                <h3><a class="label label-default" href="#/post/{{post.rid}}">{{post.title}}</a></h3>
            </div>

            <div class="post_tags">
                 <span ng-repeat="tagName in post.tagNames">
                &nbsp;&nbsp;
                <a ui-sref="tag({name:'{{tagName}}', page:'1'})" class="tag label label-default">{{tagName}} </a>
                 </span>
            </div>

            <div class="post_body" ng-bind-html="makeTrust(post.text)"></div>

            <div class="post_bottom">
                <span class="post_date">
                    Posted by <a ui-sref="public_profile({username:'{{post.author}}'})">{{post.author}}</a> on {{post.when | date:'MMM d, y H:mm:ss'}}
                </span>
            </div>
        </li>
    </ul>

    <ul class="menu text-center">
        <li>pages</li>
        <li ng-repeat="pageId in pagination"><a href="#/page/{{pageId}}">{{pageId}}</a></li>
    </ul>
</div>