<ul type="none">
    <li class="post_list" ng-repeat="post in posts.posts">

        <div class="post_title">
            <h3><a class="label label-default" href="#/post/{{post.rid}}">{{post.title}}</a></h3>
        </div>

        <div class="post_tags">
                 <span ng-repeat="tagName in post.tagNames">
                &nbsp;&nbsp;
                <a ui-sref="tag({name:'{{tagName}}', page:'1'})" class="tag label label-default">{{tagName}} </a>
                 </span>
        </div>

        <div class="post_body" ng-bind-html="makeTrust(post.text)"></div>

        <div class="post_bottom">
                <span class="post_date">
                    Posted by <a ui-sref="public_profile({username:'{{post.author}}'})">{{post.author}}</a> on {{post.when | date:'MMM d, y H:mm:ss'}}
                </span>
        </div>
    </li>
</ul>
<div class="text-center" style="margin-top: 30px">
    <uib-pagination total-items="totalPosts.countItems" items-per-page="postsPerPage" ng-model="currentPostPage" max-size="maxSize" class="pagination-sm"
                    boundary-links="true" rotate="false" num-pages="numPages" ng-change="setPostPage(currentPostPage)"></uib-pagination>
</div>
