<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

    <beans:import resource="jdbc-user-service.xml"/>

    <http>
        <intercept-url pattern="/index*" access="ROLE_USER, ROLE_ANONYMOUS"/>
        <form-login login-processing-url="/static/j_spring_security_check"
                    login-page="/home"
                    authentication-failure-url="/login_fail"/>
        <logout logout-url="/static/j_spring_security_logout" logout-success-url="/home"/>
        <remember-me key="UserKey" token-validity-seconds="2419200" user-service-ref="jdbcUserDetailsManager"/>
        <anonymous username="guest" granted-authority="ROLE_ANONYMOUS"/>
        <intercept-url pattern="/thread/**" access="ROLE_USER"/>
        <remember-me/>
    </http>

    <authentication-manager>
        <authentication-provider user-service-ref="jdbcUserDetailsManager"/>
    </authentication-manager>

    <global-method-security secured-annotations="enabled" pre-post-annotations="enabled"/>

    <beans:bean id="webSecurityExpressionHandler"
                class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler"/>

</beans:beans>